/* GENERAL CSS */
html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
/* MAIN CSS */
.main {
  flex-grow: 1;
}
.weather-info {
  display: flex;
  align-items: center;
}
.weather-desc {
  margin: 0;
  padding: 0;
  font-family: "Montserrat-SemiBold", serif;
  font-weight: 700;
  font-size: 16px;
}
